<div class="container">
    <h3>Let the calculation begin...</h3>
    <div class="card">
        <input type="text" id="input_box" [(ngModel)]="user_input">
    </div>
    <br>
    <div *ngIf="user_input!=undefined && user_input.length!=0">
        <button type="button" id="button_box" (click)="getResult()">Calculate</button>
        <button type="button" id="reset_box" (click)="user_input='';result=0">Clear</button>
    </div>
    <div *ngIf="result!==0">
        <h2>The Result is {{result}}</h2>
    </div>
</div>